body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #BBBBBB;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;

}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display:inline;
    margin: 0 0 0 15px;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
nav li a{
    text-transform:uppercase;
    color: #000000;
    font-weight:bold,;
    font-size: 22px;
    text-decoration: none;
    
}
.produto{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produto li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    
}
.produto li:hover{
    border-color: #c78c19;
}
.produto li:active{
    border-color: #088C19;

}
.produto li:hover h2{
    font-size: 34px;

}

.produto h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao{
    font-size: 18px;

}
.produto-preco{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
 form p{
    margin-top: 20px;
 }
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
#checkbox, select{
    margin: 20px 0;
}
div label, select{
    display: block;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight:bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor:pointer;

}
.enviar:hover{
    background: darkorang;
    transform: scale(1.2);
}
table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* css pg principal */
.banner{
    width: 100%;
}
.titulo-princial{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.principal p {
    margin: 0 0 1em;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
.imgtensilio{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;

}
/* Como fazer um degradê de cinco cores em um elemento?
background: linear-gradient(gray, yellow, red, orange, blue)
Como criar um elemento no HTML antes do meu item, através do CSS?
Com a propriedade :before
A propriedade :after serve para criar um pseudo-elemento após um elemento do HTML.
Com a propriedade :first-letter, eu consigo marcar a primeira letra de qualquer elemento de texto.

Como fazemos para selecionar o último <h2>?section > p + h2O último h2 é filho direto da section e irmão do p

Seletor >, para acessar os filhos de determinado elemento. Por exemplo, para acessar todos os p dentro de main:
main > p {
}

Seletor +, para acessar o primeiro irmão de determinado elemento. Por exemplo, para acessar o primeiro p após um img:
img + p {
}


Seletor ~, para acessar todos os irmãos de determinado elemento. Por exemplo, para acessar todos os p após um img:
img ~ p {
}

Seletor not, para acessar os elementos, exceto algum. Por exemplo, para acessar todos os p dentro de main, exceto o p que tem id missao:
main p:not(#missao) {
}

Como usar as medidas proporcionais para deixar um elemento de 100% de largura com o equivalente a um terço do elemento pai, menos 10px?
width: calc( (100% / 3) - 10px ) - Essa é uma forma mais complexa, não precisa dessa primeira conta! 
width: calc( 33% - 10px )- Essa é a forma mais direta!


Como fazer uma sombra interna em um elemento?

box-shadow: inset 0 0 5px black;Sombra interna, preta, com 5px de espalhamento.

Como adicionar um sombreamento em textos, com a propriedade CSS text-shadow.

Como marcar um elemento para que ele seja apresentado de outra forma, em uma tela de até 480px?
Dentro do @media (max-width: 480px) {}É dentro dessa media query que criamos um estilo visual que compreenda telas de até 480px.
*/


.mapa{
    background: linear-gradient(#FEFEFE, #888888);
    padding: 3m 0;

}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
} 
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;

}
.beneficios{
    padding: 3em 0;
    background: #888888;
    

}
.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;

}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios{
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000000;
}
.imagem-beneficios:hover{
    opacity: 0.3;
}
.video{
    margin: 2em auto;
    width: 560px;

}
.lista-beneficios li{
    line-height: 1.5;
    
}
.lista-beneficios li:first-child{
    font-weight: bold ;
}
.lista-beneficios li::before{
    content:"✷";
}
@media screen and (max-width: 480px){
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produto{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position:static;
    }
    .lista-beneficios, .imagem-beneficios{
        width: 100%;
    }
    .produto{
        display: grid;
      
        
    }

    .produto li{
       width: 90%; 
       justify-self: center;
       margin-bottom: 2em;
    }
}
